<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abitty.admin.dao.TblCatalogMapper" >
  <resultMap id="BaseResultMap" type="com.abitty.admin.entity.TblCatalog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="catalog_no" property="catalogNo" jdbcType="VARCHAR" />
    <result column="catalog_name" property="catalogName" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="delivery_type" property="deliveryType" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, catalog_no, catalog_name, icon, pid, description, delivery_type, is_delete, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tbl_catalog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_catalog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.abitty.admin.entity.TblCatalog" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_catalog (id, catalog_no, catalog_name,
    icon, pid, description,
    delivery_type, is_delete, create_time
    )
    values (#{id,jdbcType=INTEGER}, #{catalogNo,jdbcType=VARCHAR}, #{catalogName,jdbcType=VARCHAR},
    #{icon,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR},
    #{deliveryType,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.abitty.admin.entity.TblCatalog" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_catalog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="catalogNo != null" >
        catalog_no,
      </if>
      <if test="catalogName != null" >
        catalog_name,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="deliveryType != null" >
        delivery_type,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catalogNo != null" >
        #{catalogNo,jdbcType=VARCHAR},
      </if>
      <if test="catalogName != null" >
        #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="deliveryType != null" >
        #{deliveryType,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abitty.admin.entity.TblCatalog" >
    update tbl_catalog
    <set >
      <if test="catalogNo != null" >
        catalog_no = #{catalogNo,jdbcType=VARCHAR},
      </if>
      <if test="catalogName != null" >
        catalog_name = #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="deliveryType != null" >
        delivery_type = #{deliveryType,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abitty.admin.entity.TblCatalog" >
    update tbl_catalog
    set catalog_no = #{catalogNo,jdbcType=VARCHAR},
      catalog_name = #{catalogName,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      delivery_type = #{deliveryType,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tbl_catalog
  </select>
  <select id="selectByCatalogNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tbl_catalog
    where catalog_no = #{catalogNo,jdbcType=VARCHAR};
  </select>

  <select id="pageQuery" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from tbl_catalog
    where 1=1
    <if test="catalogNo != null" >
      and catalog_no = #{catalogNo,jdbcType=VARCHAR}
    </if>
    <if test="catalogName != null" >
      and catalog_name = #{catalogName,jdbcType=VARCHAR}
    </if>
    <if test="icon != null" >
      and icon = #{icon,jdbcType=VARCHAR}
    </if>
    <if test="pid != null" >
      and pid = #{pid,jdbcType=INTEGER}
    </if>
    <if test="description != null" >
      and description = #{description,jdbcType=VARCHAR}
    </if>
    <if test="deliveryType != null" >
      and delivery_type = #{deliveryType,jdbcType=VARCHAR}
    </if>
    <if test="isDelete != null" >
      and is_delete = #{isDelete,jdbcType=INTEGER}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>

    <if test="limit != null" >
      limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </if>
  </select>

  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
    select
      count(id)
    from tbl_catalog
    where 1=1
    <if test="catalogNo != null" >
      and catalog_no = #{catalogNo,jdbcType=VARCHAR}
    </if>
    <if test="catalogName != null" >
      and catalog_name = #{catalogName,jdbcType=VARCHAR}
    </if>
    <if test="icon != null" >
      and icon = #{icon,jdbcType=VARCHAR}
    </if>
    <if test="pid != null" >
      and pid = #{pid,jdbcType=INTEGER}
    </if>
    <if test="description != null" >
      and description = #{description,jdbcType=VARCHAR}
    </if>
    <if test="deliveryType != null" >
      and delivery_type = #{deliveryType,jdbcType=VARCHAR}
    </if>
    <if test="isDelete != null" >
      and is_delete = #{isDelete,jdbcType=INTEGER}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>