<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abitty.admin.dao.TblOrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.abitty.admin.entity.TblOrderInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="service_atom_count" property="serviceAtomCount" jdbcType="INTEGER" />
    <result column="total_quantity" property="totalQuantity" jdbcType="INTEGER" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="pay_id" property="payId" jdbcType="VARCHAR" />
    <result column="pay_return_id" property="payReturnId" jdbcType="VARCHAR" />
    <result column="delivery_type" property="deliveryType" jdbcType="VARCHAR" />
    <result column="delivery_time" property="deliveryTime" jdbcType="VARCHAR" />
    <result column="sub_quantity" property="subQuantity" jdbcType="INTEGER" />
    <result column="total_sub" property="totalSub" jdbcType="INTEGER" />
    <result column="finish_sub" property="finishSub" jdbcType="INTEGER" />
    <result column="next_sub" property="nextSub" jdbcType="VARCHAR" />
    <result column="next_sub_time" property="nextSubTime" jdbcType="TIMESTAMP" />
    <result column="address_id" property="addressId" jdbcType="INTEGER" />
    <result column="user_number" property="userNumber" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="error_code" property="errorCode" jdbcType="VARCHAR" />
    <result column="error_msg" property="errorMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, uid, product_no, service_atom_count, total_quantity, total_amount,
    status, pay_id, pay_return_id, delivery_type, delivery_time, sub_quantity, total_sub,
    finish_sub, next_sub, next_sub_time, address_id, user_number, remark, error_code,
    error_msg, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tbl_order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.abitty.admin.entity.TblOrderInfo" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_order_info (id, order_no, uid,
    product_no, service_atom_count, total_quantity,
    total_amount, status, pay_id,
    pay_return_id, delivery_type, delivery_time,
    sub_quantity, total_sub, finish_sub,
    next_sub, next_sub_time, address_id,
    user_number, remark, error_code,
    error_msg, create_time)
    values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR},
    #{productNo,jdbcType=VARCHAR}, #{serviceAtomCount,jdbcType=INTEGER}, #{totalQuantity,jdbcType=INTEGER},
    #{totalAmount,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{payId,jdbcType=VARCHAR},
    #{payReturnId,jdbcType=VARCHAR}, #{deliveryType,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=VARCHAR},
    #{subQuantity,jdbcType=INTEGER}, #{totalSub,jdbcType=INTEGER}, #{finishSub,jdbcType=INTEGER},
    #{nextSub,jdbcType=VARCHAR}, #{nextSubTime,jdbcType=TIMESTAMP}, #{addressId,jdbcType=INTEGER},
    #{userNumber,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{errorCode,jdbcType=VARCHAR},
    #{errorMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.abitty.admin.entity.TblOrderInfo" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="serviceAtomCount != null" >
        service_atom_count,
      </if>
      <if test="totalQuantity != null" >
        total_quantity,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="payId != null" >
        pay_id,
      </if>
      <if test="payReturnId != null" >
        pay_return_id,
      </if>
      <if test="deliveryType != null" >
        delivery_type,
      </if>
      <if test="deliveryTime != null" >
        delivery_time,
      </if>
      <if test="subQuantity != null" >
        sub_quantity,
      </if>
      <if test="totalSub != null" >
        total_sub,
      </if>
      <if test="finishSub != null" >
        finish_sub,
      </if>
      <if test="nextSub != null" >
        next_sub,
      </if>
      <if test="nextSubTime != null" >
        next_sub_time,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="userNumber != null" >
        user_number,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="errorCode != null" >
        error_code,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="serviceAtomCount != null" >
        #{serviceAtomCount,jdbcType=INTEGER},
      </if>
      <if test="totalQuantity != null" >
        #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="payId != null" >
        #{payId,jdbcType=VARCHAR},
      </if>
      <if test="payReturnId != null" >
        #{payReturnId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryType != null" >
        #{deliveryType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="subQuantity != null" >
        #{subQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalSub != null" >
        #{totalSub,jdbcType=INTEGER},
      </if>
      <if test="finishSub != null" >
        #{finishSub,jdbcType=INTEGER},
      </if>
      <if test="nextSub != null" >
        #{nextSub,jdbcType=VARCHAR},
      </if>
      <if test="nextSubTime != null" >
        #{nextSubTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="userNumber != null" >
        #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null" >
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abitty.admin.entity.TblOrderInfo" >
    update tbl_order_info
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="productNo != null" >
        product_no = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="serviceAtomCount != null" >
        service_atom_count = #{serviceAtomCount,jdbcType=INTEGER},
      </if>
      <if test="totalQuantity != null" >
        total_quantity = #{totalQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="payId != null" >
        pay_id = #{payId,jdbcType=VARCHAR},
      </if>
      <if test="payReturnId != null" >
        pay_return_id = #{payReturnId,jdbcType=VARCHAR},
      </if>
      <if test="deliveryType != null" >
        delivery_type = #{deliveryType,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="subQuantity != null" >
        sub_quantity = #{subQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalSub != null" >
        total_sub = #{totalSub,jdbcType=INTEGER},
      </if>
      <if test="finishSub != null" >
        finish_sub = #{finishSub,jdbcType=INTEGER},
      </if>
      <if test="nextSub != null" >
        next_sub = #{nextSub,jdbcType=VARCHAR},
      </if>
      <if test="nextSubTime != null" >
        next_sub_time = #{nextSubTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="userNumber != null" >
        user_number = #{userNumber,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null" >
        error_code = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abitty.admin.entity.TblOrderInfo" >
    update tbl_order_info
    set order_no = #{orderNo,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      product_no = #{productNo,jdbcType=VARCHAR},
      service_atom_count = #{serviceAtomCount,jdbcType=INTEGER},
      total_quantity = #{totalQuantity,jdbcType=INTEGER},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      pay_id = #{payId,jdbcType=VARCHAR},
      pay_return_id = #{payReturnId,jdbcType=VARCHAR},
      delivery_type = #{deliveryType,jdbcType=VARCHAR},
      delivery_time = #{deliveryTime,jdbcType=VARCHAR},
      sub_quantity = #{subQuantity,jdbcType=INTEGER},
      total_sub = #{totalSub,jdbcType=INTEGER},
      finish_sub = #{finishSub,jdbcType=INTEGER},
      next_sub = #{nextSub,jdbcType=VARCHAR},
      next_sub_time = #{nextSubTime,jdbcType=TIMESTAMP},
      address_id = #{addressId,jdbcType=INTEGER},
      user_number = #{userNumber,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      error_code = #{errorCode,jdbcType=VARCHAR},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_order_info
    where order_no = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="selectByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_order_info
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <select id="selectByPayId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_order_info
    where pay_id = #{payId,jdbcType=VARCHAR}
  </select>

  <select id="selectSuccessOrderByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_order_info
    where uid = #{uid,jdbcType=VARCHAR} AND status IN (1, 2, 3)
  </select>

  <select id="pageQuery" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from tbl_order_info
    where 1=1
    <if test="orderNo != null" >
      AND order_no = #{orderNo,jdbcType=VARCHAR}
    </if>
    <if test="uid != null" >
      AND uid = #{uid,jdbcType=VARCHAR}
    </if>
    <if test="productNo != null" >
      AND product_no = #{productNo,jdbcType=VARCHAR}
    </if>
    <if test="serviceAtomCount != null" >
      AND service_atom_count = #{serviceAtomCount,jdbcType=INTEGER}
    </if>
    <if test="totalQuantity != null" >
      AND total_quantity = #{totalQuantity,jdbcType=INTEGER}
    </if>
    <if test="totalAmount != null" >
      AND total_amount = #{totalAmount,jdbcType=DECIMAL}
    </if>
    <if test="status != null" >
      AND status = #{status,jdbcType=INTEGER}
    </if>
    <if test="payId != null" >
      AND pay_id = #{payId,jdbcType=VARCHAR}
    </if>
    <if test="payReturnId != null" >
      AND pay_return_id = #{payReturnId,jdbcType=VARCHAR}
    </if>
    <if test="deliveryType != null" >
      AND delivery_type = #{deliveryType,jdbcType=VARCHAR}
    </if>
    <if test="deliveryTime != null" >
      AND delivery_time = #{deliveryTime,jdbcType=VARCHAR}
    </if>
    <if test="subQuantity != null" >
      AND sub_quantity = #{subQuantity,jdbcType=INTEGER}
    </if>
    <if test="totalSub != null" >
      AND total_sub = #{totalSub,jdbcType=INTEGER}
    </if>
    <if test="finishSub != null" >
      AND finish_sub = #{finishSub,jdbcType=INTEGER}
    </if>
    <if test="nextSub != null" >
      AND next_sub = #{nextSub,jdbcType=VARCHAR}
    </if>
    <if test="nextSubTime != null" >
      AND next_sub_time = #{nextSubTime,jdbcType=TIMESTAMP}
    </if>
    <if test="addressId != null" >
      AND address_id = #{addressId,jdbcType=INTEGER}
    </if>
    <if test="userNumber != null" >
      AND user_number = #{userNumber,jdbcType=INTEGER}
    </if>
    <if test="remark != null" >
      AND remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="errorCode != null" >
      AND error_code = #{errorCode,jdbcType=VARCHAR}
    </if>
    <if test="errorMsg != null" >
      AND error_msg = #{errorMsg,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null" >
      AND create_time &gt;= #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate != null" >
      AND create_time &lt;= #{endDate,jdbcType=TIMESTAMP}
    </if>

    <if test="limit != null" >
      limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </if>
  </select>

  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap" >
    select
      count(id)
    from tbl_order_info
    where 1=1
    <if test="orderNo != null" >
      AND order_no = #{orderNo,jdbcType=VARCHAR}
    </if>
    <if test="uid != null" >
      AND uid = #{uid,jdbcType=VARCHAR}
    </if>
    <if test="productNo != null" >
      AND product_no = #{productNo,jdbcType=VARCHAR}
    </if>
    <if test="serviceAtomCount != null" >
      AND service_atom_count = #{serviceAtomCount,jdbcType=INTEGER}
    </if>
    <if test="totalQuantity != null" >
      AND total_quantity = #{totalQuantity,jdbcType=INTEGER}
    </if>
    <if test="totalAmount != null" >
      AND total_amount = #{totalAmount,jdbcType=DECIMAL}
    </if>
    <if test="status != null" >
      AND status = #{status,jdbcType=INTEGER}
    </if>
    <if test="payId != null" >
      AND pay_id = #{payId,jdbcType=VARCHAR}
    </if>
    <if test="payReturnId != null" >
      AND pay_return_id = #{payReturnId,jdbcType=VARCHAR}
    </if>
    <if test="deliveryType != null" >
      AND delivery_type = #{deliveryType,jdbcType=VARCHAR}
    </if>
    <if test="deliveryTime != null" >
      AND delivery_time = #{deliveryTime,jdbcType=VARCHAR}
    </if>
    <if test="subQuantity != null" >
      AND sub_quantity = #{subQuantity,jdbcType=INTEGER}
    </if>
    <if test="totalSub != null" >
      AND total_sub = #{totalSub,jdbcType=INTEGER}
    </if>
    <if test="finishSub != null" >
      AND finish_sub = #{finishSub,jdbcType=INTEGER}
    </if>
    <if test="nextSub != null" >
      AND next_sub = #{nextSub,jdbcType=VARCHAR}
    </if>
    <if test="nextSubTime != null" >
      AND next_sub_time = #{nextSubTime,jdbcType=TIMESTAMP}
    </if>
    <if test="addressId != null" >
      AND address_id = #{addressId,jdbcType=INTEGER}
    </if>
    <if test="userNumber != null" >
      AND user_number = #{userNumber,jdbcType=INTEGER}
    </if>
    <if test="remark != null" >
      AND remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="errorCode != null" >
      AND error_code = #{errorCode,jdbcType=VARCHAR}
    </if>
    <if test="errorMsg != null" >
      AND error_msg = #{errorMsg,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null" >
      AND create_time &gt;= #{startDate,jdbcType=TIMESTAMP}
    </if>
    <if test="endDate != null" >
      AND create_time &lt;= #{endDate,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>