<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abitty.admin.dao.TblProductMapper" >
  <resultMap id="BaseResultMap" type="com.abitty.admin.entity.TblProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="catalog_no" property="catalogNo" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="now_price" property="nowPrice" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="delivery_type" property="deliveryType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_no, product_name, catalog_no, description, price, now_price, status,
    icon, detail, images, delivery_type, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tbl_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.abitty.admin.entity.TblProduct" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_product (id, product_no, product_name,
    catalog_no, description, price,
    now_price, status, icon,
    detail, images, delivery_type,
    create_time)
    values (#{id,jdbcType=INTEGER}, #{productNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR},
    #{catalogNo,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
    #{nowPrice,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR},
    #{detail,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR}, #{deliveryType,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.abitty.admin.entity.TblProduct" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="catalogNo != null" >
        catalog_no,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="nowPrice != null" >
        now_price,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="deliveryType != null" >
        delivery_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="catalogNo != null" >
        #{catalogNo,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="nowPrice != null" >
        #{nowPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="deliveryType != null" >
        #{deliveryType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.abitty.admin.entity.TblProduct" >
    update tbl_product
    <set >
      <if test="productNo != null" >
        product_no = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="catalogNo != null" >
        catalog_no = #{catalogNo,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="nowPrice != null" >
        now_price = #{nowPrice,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="deliveryType != null" >
        delivery_type = #{deliveryType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.abitty.admin.entity.TblProduct" >
    update tbl_product
    set product_no = #{productNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      catalog_no = #{catalogNo,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      now_price = #{nowPrice,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      delivery_type = #{deliveryType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAllPublish" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tbl_product
    where status = 1
  </select>
  <select id="selectAllPublishByCatalogNo" resultMap="BaseResultMap" parameterType="java.lang.String"  >
    select
    <include refid="Base_Column_List" />
    from tbl_product
    where catalog_no = #{catalogNo,jdbcType=VARCHAR} and status = 1
  </select>

  <select id="selectByProductNo" resultMap="BaseResultMap" parameterType="java.lang.String"  >
    select
    <include refid="Base_Column_List" />
    from tbl_product
    where product_no = #{productNo,jdbcType=VARCHAR}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String"  >
    select
    <include refid="Base_Column_List" />
    from tbl_product
  </select>

  <select id="pageQuery" resultMap="BaseResultMap" parameterType="java.util.HashMap"  >
    select
    <include refid="Base_Column_List" />
    from tbl_product
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="productNo != null" >
      and product_no = #{productNo,jdbcType=VARCHAR}
    </if>
    <if test="productName != null" >
      and product_name = #{productName,jdbcType=VARCHAR}
    </if>
    <if test="catalogNo != null" >
      and catalog_no = #{catalogNo,jdbcType=VARCHAR}
    </if>
    <if test="description != null" >
      and description = #{description,jdbcType=VARCHAR}
    </if>
    <if test="price != null" >
      and price = #{price,jdbcType=DECIMAL}
    </if>
    <if test="nowPrice != null" >
      and now_price = #{nowPrice,jdbcType=DECIMAL}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="icon != null" >
      and icon = #{icon,jdbcType=VARCHAR}
    </if>
    <if test="detail != null" >
      and detail = #{detail,jdbcType=VARCHAR}
    </if>
    <if test="images != null" >
      and images = #{images,jdbcType=VARCHAR}
    </if>
    <if test="deliveryType != null" >
      and delivery_type = #{deliveryType,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>

    <if test="limit != null" >
      limit #{offset,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </if>
  </select>

  <select id="count" resultType="java.lang.Integer" parameterType="java.util.HashMap"  >
    select
      count(id)
    from tbl_product
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="productNo != null" >
      and product_no = #{productNo,jdbcType=VARCHAR}
    </if>
    <if test="productName != null" >
      and product_name = #{productName,jdbcType=VARCHAR}
    </if>
    <if test="catalogNo != null" >
      and catalog_no = #{catalogNo,jdbcType=VARCHAR}
    </if>
    <if test="description != null" >
      and description = #{description,jdbcType=VARCHAR}
    </if>
    <if test="price != null" >
      and price = #{price,jdbcType=DECIMAL}
    </if>
    <if test="nowPrice != null" >
      and now_price = #{nowPrice,jdbcType=DECIMAL}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="icon != null" >
      and icon = #{icon,jdbcType=VARCHAR}
    </if>
    <if test="detail != null" >
      and detail = #{detail,jdbcType=VARCHAR}
    </if>
    <if test="images != null" >
      and images = #{images,jdbcType=VARCHAR}
    </if>
    <if test="deliveryType != null" >
      and delivery_type = #{deliveryType,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
  </select>
</mapper>